<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet'>
</head>
<body  class="gradient-background-header transparent-header front-page " background="1.png" id="page-top">
<h1>cse fest</h1>
<div class="fa-cart-plus" align="center" style="padding-left:700px;">
            <a href="pay.html">
             <i class="fa fa-cart-plus fa-4x" aria-hidden="true" style="color:#F93C56;" ></i><br>
            </a>

             

          </div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card card-hover h-100">
                <div class="card-body">
                    <h3 class="card-title">Front</h3>
                    <p class="card-text" style="font-size:30px">Music</p>
                    <div class="reveal p-2">
                        <form>
  						    <button type="button" class="btn btn-primary,col-sm-3" data-toggle="modal" data-target="#music">
                            Join
                            </button>
  						    <a href="music.html" class="btn btn-secondary">know more</a>
						</form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="music" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Music</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" style="background-color: #95afc0; text-align:left;padding-left: 50px;">
                   
                    <input type="checkbox" name="Music" value="Bike"> <strong>1.Classical Music(vocals) 30/-</strong><br>
  
                    <hr>
                    <input type="checkbox" name="Music" value="Car" checked><strong>2.Voice Of CSE 30/-</strong><br>
                    
                    <hr>
                    <input type="checkbox" name="Music" value="Car" checked><strong>3.War Of Instruments 30/-</strong><br>
                    
                    <hr>
                   <button  type="submit" class="btn btn-sucess">Add to cart <i class="fa fa-cart-plus"></i></button>
                    
                    
                    
                </div>
                <div class="modal-footer">
                
                </div>
            </div>
        </div>
    </div>


         <div class="col-sm-3">
            <div class="card card-hover h-100">
                <div class="card-body">
                    <h3 class="card-title">Front</h3>
                    <p class="card-text" style="font-size:30px">Film</p>
                    <div class="reveal p-2">
                        <form>
  						     <button type="button" class="btn btn-primary,col-sm-3" data-toggle="modal" data-target="#film">
                            Join
                            </button>
  						    <a href="film.html" class="btn btn-secondary">know more</a>
						</form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="film" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Film</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" style="background-color: #95afc0; text-align:left;padding-left: 50px;">
                   
                    <input type="checkbox" name="Music" value="Bike"> <strong>1.Dubsmash(Acting) 30/-</strong><br>
  
                    <hr>
                    <input type="checkbox" name="Music" value="Car" checked><strong>2.Mobile Photography 30/-</strong><br>
                                                            
                    <hr>
                   <button  type="submit" class="btn btn-sucess">Add to cart <i class="fa fa-cart-plus"></i></button>
                    
                    
                    
                </div>
                <div class="modal-footer">
                
                </div>
            </div>
        </div>
    </div>
         <div class="col-sm-3">
            <div class="card card-hover h-100">
                <div class="card-body">
                    <h3 class="card-title">Front</h3>
                    <p class="card-text" style="font-size:30px">Dance</p>
                    <div class="reveal p-2">
                        <form>
                             <button type="button" class="btn btn-primary,col-sm-3" data-toggle="modal" data-target="#dance">
                            Join
                            </button>
                            <a href="dance.html" class="btn btn-secondary">know more</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="dance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Dance</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" style="background-color: #95afc0; text-align:left;padding-left: 50px;">
                   
                    <input type="checkbox" name="Music" value="Bike"> <strong>1.Solo dance 30/-</strong><br>
  
                    <hr>
                    <input type="checkbox" name="Music" value="Car" checked><strong>2.Group dance 30/- per person-</strong><br>
                                                            
                    <hr>
                   <button  type="submit" class="btn btn-sucess">Add to cart <i class="fa fa-cart-plus"></i></button>
                    
                    
                    
                </div>
                <div class="modal-footer">
                
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
         <div class="col-sm-3">
            <div class="card card-hover h-100">
                <div class="card-body">
                    <h3 class="card-title">Front</h3>
                    <p class="card-text" style="font-size:30px">Coding</p>
                    <div class="reveal p-2">
                        <form>
                             <button type="button" class="btn btn-primary,col-sm-3" data-toggle="modal" data-target="#coding">
                            Join
                            </button>
                            <a href="coding.html" class="btn btn-secondary">know more</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="coding" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Coding</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" style="background-color: #95afc0; text-align:left;padding-left: 50px;">
                   
                    <input type="checkbox" name="Music" value="Bike"> <strong>HackInOut Coding Event 30/-</strong><br>
  
                    
                                                            
                    <hr>
                   <button  type="submit" class="btn btn-sucess">Add to cart <i class="fa fa-cart-plus"></i></button>
                    
                    
                    
                </div>
                <div class="modal-footer">
                
                </div>
            </div>
        </div>
    </div>
         <div class="col-sm-3">
            <div class="card card-hover h-100">
                <div class="card-body">
                    <h3 class="card-title">Front</h3>
                    <p class="card-text" style="font-size:30px">Literature</p>
                    <div class="reveal p-2">
                        <form>
  						     <button type="button" class="btn btn-primary,col-sm-3" data-toggle="modal" data-target="#lit">
                            Join
                            </button>
  						    <a href="lit.html" class="btn btn-secondary">know more</a>
						</form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="lit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Literature</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" style="background-color: #95afc0; text-align:left;padding-left: 50px;">
                   
                    <input type="checkbox" name="Music" value="Bike"> <strong>1.Open mic 30/-</strong><br>
  
                    <hr>
                    <input type="checkbox" name="Music" value="Car" checked><strong>2.Debate 30/-</strong><br>

                    <hr>
                    <input type="checkbox" name="Music" value="Car" checked><strong>3.Writing Competition 30/-</strong><br>
                                                            
                    <hr>
                   <button  type="submit" class="btn btn-sucess">Add to cart <i class="fa fa-cart-plus"></i></button>
                    
                    
                    
                </div>
                <div class="modal-footer">
                
                </div>
            </div>
        </div>
    </div>
        <div class="col-sm-3">
            <div class="card card-hover h-100">
                <div class="card-body">
                    <h3 class="card-title">Front</h3>
                    <p class="card-text" style="font-size:30px">Art</p>
                    <div class="reveal p-2">
                        <form>
                             <button type="button" class="btn btn-primary,col-sm-3" data-toggle="modal" data-target="#art">
                            Join
                            </button>
                            <a href="art.html" class="btn btn-secondary">know more</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="art" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Art</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" style="background-color: #95afc0; text-align:left;padding-left: 50px;">
                   
                    <input type="checkbox" name="Music" value="Bike"> <strong>1.Face Painting 30/-</strong><br>
  
                    <hr>
                    <input type="checkbox" name="Music" value="Car" checked><strong>2.Mehendi/tatoo design 30/-</strong><br>

                    <hr>
                    <input type="checkbox" name="Music" value="Car" checked><strong>3.Fashion design 30/-</strong><br>

                    <hr>
                    <input type="checkbox" name="Music" value="Car" checked><strong>4.Mandala making 30/-</strong><br>
                                                            
                    <hr>
                   <button  type="submit" class="btn btn-sucess">Add to cart <i class="fa fa-cart-plus"></i></button>
                    
                    
                    
                </div>
                <div class="modal-footer">
                
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>